.mainBox {
  max-height: 1000px;
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
  min-height: 100vh;
  padding-top: 45px;
}

.box1 {
  height: 500px;
  border: none;
  background: #fff;
  border-radius:3px ;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.divInp{
  width: 80%;
}
.divInp input{
  border: 1px solid lightgray;
  line-height: 30px;
  /* border-radius: px; */
}

.sapan{
  /* width: 86% !important; */
  padding: 3px;
  width: 82.1% !important;
  background: rgb(243, 242, 242);
  display: flex;
  }
  
  .text1{
    width: 95%;
    /* background: #000; */
  }
  .text1 span{
    /* background: #000; */
    font-weight:bold ;
  }
  .editBtn{

  }
  .updInp {width: 85%;}
  .updInp input{
    border:none;
    line-height: 30px;
    background: rgb(243, 242, 242) !important;
  }